body {
    display: flex;
    background-color: green;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

